@import url("./style.css");
.card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.card-img-top {
    height: 220px;
    object-fit: cover;    
}
 
.btn-primary {
    background-color: var(--boton-primario) !important;
}
 
.nav-blur {
    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.90) !important;
    transition: 0.3s;
}
 
.brand-title {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    color: #f38181 !important;
}
 
/* Enlaces con efecto hover */
.nav-link {
    position: relative;
    font-weight: 600;
    color: #444 !important;
}
 
.nav-link::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #f38181;
    transition: 0.3s;
}
 
.nav-link:hover::after {
    width: 100%;
}
 
footer {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    margin-top: 40px;
}
 
footer ul {
    padding: 0;
}
 
footer li {
    list-style: none;
    font-size: 0.95rem;
    margin-top: 3px;
}
 
footer p {
    margin: 5px 0;
    color: #333;
}
 
 